<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<nav class="indigo lighten-1" role="navigation" th:fragment="header">
    <div class="nav-wrapper container">

        <div class="logo">
            <a id="logo-container" href="/home" class="brand-logo">
                <img class="icon hide-on-med-and-down" src="/static/images/meow.png" th:src="@{~/images/meow.png}"
                     width="60" style="vertical-align: middle;margin-bottom:10px;margin-right:10px;" alt="Logo">
            </a>
        </div>
        <ul sec:authorize="isAuthenticated()" class="right hide-on-med-and-down">
            <li><a href="/profile" th:text="${#httpServletRequest.remoteUser}">User Name</a></li>
        </ul>
        <ul sec:authorize="isAuthenticated()" class="right hide-on-med-and-down">
            <li><a href="/login?logout">Logout</a></li>
        </ul>
        <ul sec:authorize="isAnonymous()" class="right hide-on-med-and-down">
            <li><a href="/register">Sign up</a></li>
        </ul>
        <ul sec:authorize="isAnonymous()" class="right hide-on-med-and-down">
            <li><a href="/login">Sign in</a></li>
        </ul>
    </div>
</nav>
</body>
</html>