<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <br><br>
        <div class="card-panel col offset-s4 s4 center-align">
            <div class="row">
                <form class="col offset-s1 s10" th:action="@{/register}" th:object="${user}" method="post">
                    <br>

                    <p class="red-text"
                       th:if="${#fields.hasGlobalErrors()}"
                       th:each="error : ${#fields.errors('global')}"
                       th:text="${error}">Validation error</p>

                    <h5 class="center indigo-text">Sign up</h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" th:field="*{name}" type="text" class="validate">
                            <label for="name">User name</label>
                            <span class="helper-text red-text"
                               th:each="error: ${#fields.errors('name')}"
                               th:text="${error}">Validation error</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" th:field="*{password}" type="password" class="validate">
                            <label for="password">Password</label>
                            <span class="helper-text red-text"
                               th:each="error: ${#fields.errors('password')}"
                               th:text="${error}">Validation error</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="confirmPassword" th:field="*{confirmPassword}" type="password" class="validate">
                            <label id="confirmPasswordLabel" for="confirmPassword" data-error="Password not match"
                                   data-success="Password Match">Confirm Password</label>
                            <span class="helper-text red-text"
                               th:each="error: ${#fields.errors('confirmPassword')}"
                               th:text="${error}">Validation error</span>
                        </div>
                    </div>

                    <div th:if="${param.success}">
                        <div class="indigo-text">
                            You've successfully registered to our awesome app!
                        </div>
                        <br>
                    </div>

                    <button class="btn indigo waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
            <a href="/login" class="hyperlink">I already have an account, log me in</a>
            <br><br>
            <a href="/home" class="hyperlink">Go Home</a>
            <br><br>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
<script>
    $("#password").on("focusout", function (e) {
        if ($(this).val() != $("#confirm-password").val()) {
            $("#confirm-password").removeClass("valid").addClass("invalid");
        } else {
            $("#confirm-password").removeClass("invalid").addClass("valid");
        }
    });

    $("#confirm-password").on("keyup", function (e) {
        if ($("#password").val() != $(this).val()) {
            $(this).removeClass("valid").addClass("invalid");
        } else {
            $(this).removeClass("invalid").addClass("valid");
        }
    });
</script>

</body>
</html>